<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="P44_TP_RAPHAEL_RIVARD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <P44_TP_RAPHAEL_RIVARD.My.MySettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Initial Catalog=tp_p44;Integrated Security=SSPI;Trust Server Certificate=True</value>
            </setting>
        </P44_TP_RAPHAEL_RIVARD.My.MySettings>
    </applicationSettings>
</configuration>
